@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222, 11%, 11%;
    --card: 0 0% 100%;
    --card-foreground: 222, 11%, 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222, 11%, 11%;
    --primary: 218, 98%, 60%, 1;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    /* --border: 214.3 31.8% 91.4%; */
    --border: 220, 43%, 95%;
    --input: 214.3 31.8% 91.4%;
    --ring: 218, 98%, 60%, 1;
    --radius: 0.5rem;
    --body-color: rgba(24, 26, 30, 1);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* use this  Responsive font class font for from xl = 1280px up to 1920px screens  */
  .font-18px {
    @apply tracking-[-0.15px]   leading-[20px] xl:text-[0.94rem] 2xl:text-[1rem] 3xl:text-[1.125rem];
  }
  .font-20px {
    @apply xl:text-[14px] 3xl:text-[1.25rem];
  }

  .font-24px {
    @apply lg:max-3xl:text-[18px] 3xl:text-[1.5rem];
  }

  /* font class end here  */

  .page-container-with-sidebar {
    @apply flex flex-col h-[calc(100vh-80px)];
  }

  /* use this style for full container width (such as without sidebar ) */
  .container-full {
    @apply max-w-[90%] xl:max-w-[1000px] 2xl:max-w-[1200px] 3xl:max-w-[1500px] 2k-screen:max-w-[2000px] mx-auto;
  }

  .custom-input-style {
    @apply rounded-full border-[1px] border-[#C3C7CF] w-full h-10 px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none;
  }
}

@layer components {
}

/* link active style */

.link-active-sidebar {
  position: relative;
  width: 100%;
  &::before {
    position: absolute;
    content: "";
    left: -24px;
    width: 3px;
    height: 100%;
    background: #181a1e;
  }
}

.active-bottom {
  position: relative;
  font-weight: 500;
  color: #181a1e;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    width: 100%;
    height: 2px;
    background: #181a1e;
  }
}

.file-upload .inputfile {
  /* Hide the input file */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.user-details-card {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
}

.custom-box-shadow {
  box-shadow: 0px 0px 20px 0px #0000000d;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

/* @media only screen and (max-width: 639px) and (-moz-min-device-pixel-ratio: 1.5)
@media only screen and (max-width: 639px) and (-o-min-device-pixel-ratio: 3/2),
@media only screen and (max-width: 639px) and (min-device-pixel-ratio: 1.5),
@media only screen and (min-width: 640px) and (max-width: 959px) {

} */
